label input[type="text"],
select {
  display: block;
  margin-bottom: 10px;
}

 label input[type="radio"] {
  display: inline;
}

fieldset {
  margin-bottom: 20px;
}

textarea {
  display: block;
  margin-bottom: 20px;
}